*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clock{
   width: 40vw;
   height: 40vw;
   background: url(./clock.png) no-repeat;
   background-size: cover;
   border: 2px solid #f04040;
   margin: auto;
   position: relative;
}
img{
    width: 30%;
    margin: auto;
}
#hour,#minute,#second{
    position: absolute;
    border-radius: 10px;
    background-color: black;
    transform-origin: bottom;
}
#hour{
    width: 2%;
    height: 20%;
    top: 28%;
    left: 49%;
    /* display: none; */
}
#minute{
    width: 2%;
    height: 30%;
    top: 20%;
    left: 49%;
    /* display: none; */
}
#second{
    width: 1.5%;
    height: 31%;
    top: 19%;
    left: 49%;
    background-color: #f04040;
    /* display: none; */
}